<div  >
  <h3 class="text-center mt-3 mb-5 rainbow-text">About Us</h3>
  <div class="container">
    <h4>WhatsApp API, Version - 0.5</h4>
    <h6>Last updated on: 17/04/2024</h6>
  </div>

  <div class="container mt-5">
    <ul class="list-group tick-mark-list ml-5">
      <li class="list-group-item">Text</li>
      <li class="list-group-item">Image</li>
      <li class="list-group-item">Audio</li>
      <li class="list-group-item">Video</li>
      <li class="list-group-item">GIF</li>
      <li class="list-group-item">Group Messages</li>
      <li class="list-group-item">Same message to multiple contacts</li>
      <li class="list-group-item">Bulk Sender - multiple contacts with different messages</li>
      <!-- Add more list items as needed -->
    </ul>
  </div>

</div>


