<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <div style="border: 0.01pt solid white; padding: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      <i class="fa fa-paper-plane fa-2x" aria-hidden="true" style="color: white;padding-right: 10px"></i>
      <a class="navbar-brand" routerLink="#">Smart Campaign</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 10px;">
      <ul class="nav" id="myTab" role="tablist">
        <li class="nav-item" *ngFor="let tab of tabs">
          <a class="nav-link" routerLink="{{tab.routePath}}" [class.active]="selectedTab === tab.tabName"
            (click)="selectTab(tab)">
            {{ tab.tabName }}
            <div class="underline" [class.active]="selectedTab === tab.tabName"></div>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button class="btn btn-outline-light" (click)="logout()">Logout</button>
        </li>
      </ul>

    </div>

  </div>
</nav>

<app-loader></app-loader>

<router-outlet />
